/* src/index.css */
@import url('./fonts/Vazirmatn.css');

body {
  direction: rtl;
  text-align: right;
  font-family: 'Vazirmatn', sans-serif;
  margin: 10%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
